<div class="page-container">

	<div class="main">
		<header>
			<div class="logo" routerLink="/">
				<div class="logo-img"></div>
				<p>Alyra</p>
			</div>
			<div class="menu">
				<a href="https://alyrafinance.gitbook.io/alyrafinance-docs/" target="_blank">DOCS</a>
				<div class="devider"></div>
				<!-- <a href="#" target="_blank">SCAN</a>
				<div class="devider"></div>
				<a href="#" target="_blank">ECOSYSTEM</a>
				<div class="devider"></div> -->
				<a routerLink="/developers">DEVELOPERS</a>
				<div class="devider"></div>
				<a href="https://medium.com/@alyrafinance" target="_blank">BLOG</a>
				<div class="devider"></div>
				<a routerLink="/community">COMMUNITY</a>
			</div>
			<button class="hamburger" (click)="toggleMobileMenu()">
				<img *ngIf="!isMobileMenuOpen" src="/img/icons/hamburger.png" alt="Menu">
				<img *ngIf="isMobileMenuOpen" src="/img/icons/close.png" alt="Close">
			</button>
		</header>

		<div class="mobile-menu" [class.active]="isMobileMenuOpen">
			<div class="mobile-header">
				<div class="logo">
					<div class="logo-img"></div>
					<p>Alyra</p>
				</div>
				<button class="mobile-close" (click)="toggleMobileMenu()">
					<img src="/img/icons/close.png" alt="Close">
				</button>
			</div>

			<nav class="mobile-nav">
					<a href="https://alyrafinance.gitbook.io/alyrafinance-docs/" target="_blank" (click)="toggleMobileMenu()">DOCS</a>
					<hr>
					<!-- <a href="#" target="_blank" (click)="toggleMobileMenu()">SCAN</a>
					<hr>
					<a href="#" target="_blank" (click)="toggleMobileMenu()">ECOSYSTEM</a> 
					<hr> -->
					<a routerLink="/developers" (click)="toggleMobileMenu()">DEVELOPERS</a>
					<hr>
					<a href="https://medium.com/@alyrafinance" target="_blank" (click)="toggleMobileMenu()">BLOG</a>
					<hr>
					<a routerLink="/community" (click)="toggleMobileMenu()">COMMUNITY</a>
				</nav>

				<a class="button main-button" href="/developers" target="_blank">
					<p>Start Building</p>
					<div class="icon arrow"></div>
				</a>
		</div>

		<div class="text">
			<p class="tag">[ Introduction ]</p>
			<h1 class="hero-title">
				Security-first execution layer <br>
				<span>for on-chain apps</span>
			</h1>
			<a class="button main-button" href="/developers" target="_blank">
				<p>Start Building</p>
				<div class="icon arrow"></div>
			</a>
			<div class="icon scroll-down"></div>
			<div class="post">
				<p>Build Anything.</p>
				<p>&nbsp;&nbsp;Build Anywhere.</p>
			</div>
		</div>
		<div class="background"></div>
	</div>

	<div class="concept">
		<!-- <div class="img"></div> -->
		<div class="text">
			<p #description class="description typewriter-text">
				Alyra is the execution layer for the on-chain <br>
				economy, unifying global liquidity into a <span>simple</span>, <br>
				<span>secure</span>, and <span>composable infrastructure</span>.
			</p>
			<div class="buttons">
				<a class="button main-button" href="/developers">
					<p>Start Building</p>
					<div class="icon arrow"></div>
				</a>
				<a class="button" href="https://alyrafinance.gitbook.io/alyrafinance-docs/" target="_blank">
					<p>Documentation</p>
					<div class="icon arrow"></div>
				</a>
			</div>
		</div>
		<p class="tag">[ Concept ]</p>
	</div>

	<div class="principles">
		<p class="tag">[ Principles ]</p>
		<div class="head-principles">
			<h1>Core Principles</h1>
			<p #description2 class="description typewriter-text">
				We focus on making cross-chain infrastructure trustworthy,
				transparent, and built to last.
			</p>
		</div>
		<div class="principles-container">
			<div class="principle">
				<h3>Security-first</h3>
				<p>
					Every transaction in Alyra is transparent and 
					deterministic — it either settles exactly as intended 
					or doesn’t execute at all. No blind signing, no 
					unpredictable outcomes.
				</p>
				<div class="big-icon security"></div>
			</div>
			<div class="principle">
				<h3>Simplicity & Modularity</h3>
				<p>
					One API/SDK replaces dozens of fragile integrations. 
					Developers plug in only what they need, building on 
					a composable and flexible execution stack.
				</p>
				<div class="big-icon modular"></div>
			</div>
			<div class="principle">
				<h3>Scalability & Transparency</h3>
				<p>
					Alyra grows with the ecosystem: adding new chains 
					or liquidity providers is seamless, while every route 
					and settlement remains visible and verifiable.
				</p>
				<div class="big-icon scalability"></div>
			</div>
		</div>
	</div>

	<div class="chains">
		<p class="tag">[ 25+ Supported Chains ]</p>
		<h1>Connected Chains</h1>
		<div class="chains-container">
			<div class="chains-track">
				<div class="chain ethereum"></div>
				<div class="chain arbitrum"></div>
				<div class="chain optimism"></div>
				<div class="chain polygon"></div>
				<div class="chain base"></div>
				<div class="chain binance"></div>
				<div class="chain avax"></div>
				<div class="chain solana"></div>
				<div class="chain sui"></div>
				<div class="chain scroll"></div>
				<div class="chain linea"></div>
				<div class="chain mantle"></div>
				<div class="chain blast"></div>
				<div class="chain zksynk"></div>
				<div class="chain berachain"></div>
				<div class="chain ink"></div>
				<div class="chain metis"></div>
				<div class="chain superposition"></div>
				<div class="chain world"></div>
				<div class="chain abstract"></div>
				<div class="chain celo"></div>
				<div class="chain hyper"></div>
				<div class="chain sei"></div>
				<div class="chain soneium"></div>
				<div class="chain sonic"></div>
				<div class="chain lisk"></div>
				<div class="chain unichain"></div>
				
				<div class="chain ethereum"></div>
				<div class="chain arbitrum"></div>
				<div class="chain optimism"></div>
				<div class="chain polygon"></div>
				<div class="chain base"></div>
				<div class="chain binance"></div>
				<div class="chain avax"></div>
				<div class="chain solana"></div>
				<div class="chain sui"></div>
				<div class="chain scroll"></div>
				<div class="chain linea"></div>
				<div class="chain mantle"></div>
				<div class="chain blast"></div>
				<div class="chain zksynk"></div>
				<div class="chain berachain"></div>
				<div class="chain ink"></div>
				<div class="chain metis"></div>
				<div class="chain superposition"></div>
				<div class="chain world"></div>
				<div class="chain abstract"></div>
				<div class="chain celo"></div>
				<div class="chain hyper"></div>
				<div class="chain sei"></div>
				<div class="chain soneium"></div>
				<div class="chain sonic"></div>
				<div class="chain lisk"></div>
				<div class="chain unichain"></div>
			</div>
		</div>
	</div>

	<div class="developers">
		<p class="tag">[ Developers ]</p>
		<div class="text-dev">
			<h1>
				Execute secure <br>
				<span>with Alyra.</span>
			</h1>
			<a class="button" href="/developers"> 
				<p>Learn More</p>
				<div class="icon arrow"></div>
			</a>
		</div>
		<div class="developers-container">
			<a class="developer" href="/developers" target="_blank">
				<h3>Docs Hub</h3>
				<p>
					Central place for guides and 
					integration tutorials.
				</p>
			</a>
			<a class="developer" href="/developers" target="_blank">
				<h3>SDKs & Libraries</h3>
				<p>
					Official SDKs with ready-to-use examples.
				</p>
			</a>
			<a class="developer" href="/developers" target="_blank">
				<h3>Partner Portal</h3>
				<p>
					Handle integrations, fees, and reporting.
				</p>
			</a>
			<a class="developer" href="/developers" target="_blank">
				<h3>API Reference</h3>
				<p>
					Detailed list of endpoints and parameters.
				</p>
			</a>
			<a class="developer" href="/developers" target="_blank">
				<h3>Widgets & UI Kits</h3>
				<p>
					Plug-and-play components for any app.
				</p>
			</a>
			<a class="developer" href="/developers" target="_blank">
				<h3>Dev Community</h3>
				<p>
					Join the developer chat and stay connected.
				</p>
			</a>
		</div>
	</div>

	<div class="perfomance">
		<p class="tag">[ Perfomance ]</p>
		<h1>Performance</h1>
		<div class="perfomance-container">
			<div class="perfomance-item">
				<p>Supported blockchains</p>
				<h1>25</h1>
			</div>
			<div class="perfomance-item">
				<p>Latency</p>
				<h1>&lt;300ms</h1>
			</div>
			<div class="perfomance-item">
				<p>Protocols Integrated</p>
				<h1>30</h1>
			</div>
			<div class="perfomance-item">
				<p>API Uptime</p>
				<h1>99.9%</h1>
			</div>
		</div>
	</div>

	<div class="quickstart">
		<p class="tag">[ Minutes To Launch ]</p>
		<div class="quick-text">
			<h1>Quickstart</h1>
			<p #description3 class="description typewriter-text">
				<span>Our API connects dApps with global</span> cross-chain <br>
				liquidity across 25+ networks<span>. Getting started is as simple as <br>
				generating an API key and calling one endpoint.</span>
			</p>
			<a class="button" href="/developers">
				<p>Learn More</p>
				<div class="icon arrow"></div>
			</a>
		</div>
		<div class="code">
			<pre><code>
<span>const main</span> = <span>async</span> () =&gt; &#123;
	const sellAmount = parseUnits("<span>1000</span>", await usdc.read.<span>decimals</span>());

	<span>const</span> params = <span>new URLSearchParams</span>(&#123;
		<span>originChainId</span>: client.<span>originChain</span>.id,
		<span>destinationChainId</span>: client.<span>destinationChain</span>.id,
		<span>originCurrency</span>: usdc.address,
		<span>destinationCurrency</span>: weth.address,
		<span>amount</span>: sellAmount.<span>toString</span>(),
		senderAddress: client.senderAddress,
		<span>receiverAddress</span>: client.<span>receiverAddress</span>,
		<span>tradeType</span>: "EXACT_INPUT",
		<span>integrator</span>: client.<span>integratorString</span>,
	&#125;);

	<span>const</span> quoteResponse = await <span>fetch</span>(
		"https://api.alyra.finance/v1/quotes" + params.toString(),
		&#123;
			headers,
		&#125;
	);

	<span>const</span> quote = await <span>quoteResponse</span>.<span>json</span>();
	<span>console</span>.<span>log</span>("Quote to swap 1000 USDC for WETH: ", <span>quote</span>);
	&#125;
	main();
			</code></pre>
		</div>
	</div>

	<footer>
		<div class="head-links-container">
			<div class="head-link">
				<p>Resourses</p>
			</div>
			<div class="head-link">
				<p>Social Media</p>
			</div>
			<div class="head-link">
				<p>Developers</p>
			</div>
			<!-- <div class="head-link">
				<p>Tools</p>
			</div> -->
			<div class="head-link">
				<p>Ecosystem</p>
			</div>
			<div class="head-link">
				<p>Careers</p>
			</div>
		</div>
		<div class="bottom-links-container">
			<div class="bottom-links">
				<a class="bottom-link" href="https://alyrafinance.gitbook.io/alyrafinance-docs/" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<a class="bottom-link">Terms of Use</a>
				<a class="bottom-link">Privacy Policy</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/alyrafinance" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/alyrafinance" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@alyrafinance" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/alyrafi" target="_blank">LinkedIn</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="/developers" target="_blank">API</a>
				<a class="bottom-link" href="/developers" target="_blank">Architecture</a>
				<a class="bottom-link" href="/developers" target="_blank">SDK & Libraries</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/AlyraLabs" target="_blank">GitHub</a>
			</div>
			<!-- <div class="bottom-links">
				<a class="bottom-link">Status</a>
				<a class="bottom-link">Partner Portal</a>
			</div> -->
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/alyrafinance" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://alyralabs.xyz/" target="_blank">Jobs</a>
			</div>
		</div>

		<div class="mobile-links-container">
			<div class="mobile-link">
				<p class="mobile-link-title">Resourses</p>
				<hr>
				<a class="bottom-link" href="https://alyrafinance.gitbook.io/alyrafinance-docs/" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<a class="bottom-link">Terms of Use</a>
				<a class="bottom-link">Privacy Policy</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Social Media</p>
				<hr>
				<a class="bottom-link" href="https://x.com/alyrafinance" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/alyrafinance" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@alyrafinance" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/alyrafi" target="_blank">LinkedIn</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Developers</p>
				<hr>
				<a class="bottom-link" href="/developers" target="_blank">API</a>
				<a class="bottom-link" href="/developers" target="_blank">Architecture</a>
				<a class="bottom-link" href="/developers" target="_blank">SDK & Libraries</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/AlyraLabs" target="_blank">GitHub</a>
			</div>
			<!-- <div class="mobile-link">
				<p class="mobile-link-title">Tools</p>
				<hr>
				<a class="bottom-link">Status</a>
				<a class="bottom-link">Partner Portal</a>
			</div> -->
			<div class="mobile-link">
				<p class="mobile-link-title">Ecosystem</p>
				<hr>
				<a class="bottom-link" href="https://x.com/alyrafinance" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Careers</p>
				<hr>
				<a class="bottom-link" href="https://alyralabs.xyz/" target="_blank">Jobs</a>
			</div>
		</div>


		<div class="bottom-text">
			<div class="logo-img"></div>
			<p>© 2025 Alyra. All rights reserved.</p>
		</div>
		<div class="background"></div>
	</footer>
</div>