@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:host {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

//DEFAULT-STYLES

.button {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(var(--black), 0.5);

	border-radius: 14px;
	border: 1px solid rgba(var(--white), 0.1);

	padding: 10px 15px;
	gap: 15px;

	cursor: pointer;
	backdrop-filter: blur(15px);

	transition: all 0.3s ease;
	
	.icon {
		width: 8px;
		height: 14px;
		background-image: url(/img/header/link-button.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
	p {
		font-size: 24px;
		font-weight: 400;
		color: rgba(var(--white), 1);
		transition: all 0.3s ease;
	}
	&:hover {
		border-color: rgba(var(--white), 0.2);
		background: rgba(var(--white), 0.05);
	}
	&:hover .icon, &:hover p{
		transform: translateX(5px);
	}
}
.main-btn{
	background-color: rgba(var(--white), 1);
	border: 0px;
	p{
		color: rgba(var(--black), 1)!important;
	}
	.icon {
		filter: invert(100%) contrast(150%);
	}
	&:hover {
		border-color: none;
		background: rgba(var(--white), 1);
	}
}
.link {
	font-size: 20px;
	font-weight: 400;
	color: rgba(var(--white), 1);
	opacity: 0.4;
	text-decoration: none;
	transition: all 0.3s ease;
	&:hover {
		opacity: 1;
	}
}

h1{
	font-size: 48px;
	font-weight: 600;
	color: rgba(var(--white), 1);
	text-align: center;
}
h2{
	font-size: 36px;
	font-weight: 600;
	color: rgba(var(--white), 1);
}
h3{
	font-size: 26px;
	font-weight: 500;
	color: rgba(var(--white), 1);
}
p{
	font-size: 20px;
	font-weight: 400;
	color: rgba(var(--white), 0.5);
	text-align: center;
}